.body {
    background-color: white ;
}
.stopwatch {
    width: 90%;
    max-width: 600px;
    background-size: cover;
    background-position: center;
    text-align: center;


}
#start {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;

}

#reset {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
}

#pause {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}